---
// interface Props {
//   title: string;
//   body: string;
//   href: string;
// }

// const { href, title, body } = Astro.props;
---

<div class="flex px-4 text-gray-500">
  <p class="text-sm">20 March 2024, 11:50am</p>
  <p class="text-sm ml-auto">Peak volume: 10 db</p>
</div>
<audio controls class="w-full">
  <!-- <source src="horse.ogg" type="audio/ogg" /> -->
  <source
    src="https://www2.cs.uic.edu/~i101/SoundFiles/StarWars60.wav"
    type="audio/mpeg"
  />
  Your browser does not support the audio element.
</audio>

<style></style>
